/* first page format */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }


/* top background color */
 header{
  background: #f4a300;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
header .logo {
  font-weight: bold;
}
header nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}


/* Top section image hero */
.hero {
    background: url("image/hero-image.jpg") center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 80px 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

/* section image */
section {
    padding: 2rem;
  }
  .cardsImage {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  .cardsImage img {
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
    display: block;
  }
  .cardsImage div {
    text-align: center;
  }
  
  
  footer {
    background: #f4a300;
    padding: 1rem;
    text-align: center;
  }
  footer a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }





/* bottom background color */